<footer>  
  <p>
    <span class="fs-s">MPOS</span>
    <span class="fs-s"></span>
    <span class="fs-s">v2.0</span> 
  </p>
  <p>
    <small class=" fs-s">
      <a href="https://wasankds.com" target="_blank">
        <span>wasankds.com</span>
      </a>
    </small>
  </p>
  <p>
    <small class=" fs-s">
      <i class="fa fa-copyright mg-r-m"></i>วสันต์ คุณดิลกเศวต
    </small>
  </p>
</footer>