<footer>  
  <p>
    <span class="fs-s"><%= global.SYS_NAME %></span>
    <span class="fs-s"><%= global.SYS_NAME2 %></span>
    <span class="fs-s"><%= global.SYS_VERSION %></span> 
    <small class=" fs-s">
      <i class="fa fa-copyright mg-r-s"></i>
      <a href="https://wasankds.com" target="_blank">
        <span>wasankds.com</span>
      </a>
    </small>
  </p>
</footer>