

<header>
  <!--  -->
  <div class="header-image">
    <picture>
      <source media="(min-width: 768px)" srcset="/images/banner_header-l.png">
      <source media="(min-width: 480px)" srcset="/images/banner_header-m.png">
      <a href="<%= dataSettings.headBannerArticlePath %>" target="_blank">
        <img src="/images/banner_header-s.png"/>
      </a>
    </picture>
  </div>
  
  <!--  -->
  <div class="header-titles">
    <h2>wasankds.com</h2>
  </div>
</header>


