<!--  -->
<form id="itemsForm" autocomplete="off" 
      action="<%= PATH_DELETE_ITEMS %>" 
      method="post" >

  <!--  -->
  <div class="mg-t-l">          
    <label class="" style="word-break: break-word; white-space: normal;">             
      <span class="pd-r-s">✍</span> ลบไอเท็มที่เลยเวลาลบ แต่ไม่มีอยู่ในเอกสารใดๆ (ไม่มีผลต่อระบบ)
    </label>
  </div>

  <div class="">
    <label class="" style="word-break: break-word; white-space: normal;">             
      <span class="pd-r-s">✍</span> ต้องสำรองฐานข้อมูลก่อน
    </label>
  </div>

  <div class="">
    <label class="" style="word-break: break-word; white-space: normal;">             
      <span class="pd-r-s">✍</span> ต้องลบตอนที่ไม่ใช้งานระบบ(ปิดร้าน) และหลังจากนั้นต้องลบเซสชั่นของยูสเซอร์ทั้งหมด
    </label>
  </div>

  <!-- itemsCategory -->
  <!-- แสดง itemsCategory ใน select -->
  <div class="mg-t-m input-group">
    <label class="" for="selectCategoryId">เลือกหมวดหมู่ไอเท็ม</label>
    <select class="al-c" id="selectCategoryId" name="selectCategoryId" required >
      <option value="" selected>-- เลือกหมวดหมู่ไอเท็ม --</option>
      <% itemsCategory.forEach(function(category) { %>
        <option value="<%= category.categoryId %>"><%= category.categoryName %></option>
      <% }); %>
    </select>
  </div>

  <!-- Buttons/Save -->
  <section class="flex-row justify-content-center mg-t-xxl">
    <button class="btn btn-sm bg-delete" type="submit">
      <i class="fas fa-trash"></i> ลบไอเท็มที่เลยเวลาลบ
    </button>
  </section>

</form>