<footer class="al-c no-print">
  <button class="btn bg-black fc--white pd-l-xxl pd-r-xxl pd-t-l pd-b-l clickable" 
          type="button" onclick="window.print()">พิมพ์
  </button>
  <button class="btn bg-black fc--white pd-l-xxl pd-r-xxl pd-t-l pd-b-l clickable" 
          type="button" onclick="window.close()">ปิดหน้าต่าง
  </button>
</footer>